<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>DIY API Test</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<style type="text/css">

.banner {
  text-align: center;
  font-size: 24px;
}

@media(min-width: 768px) {
  .banner {
    font-size: 32px;
  }
}

.grid {
  text-align: center;
  margin-top: 20px;
}

@media(min-width: 768px) {
  .grid {
    min-height: 400px;
  }
}

.title {
  font-weight: bold;
  margin-top: 20px;
}

.description {
  text-align: left;
  margin: 10px 20px;
}

</style>
</head>
<body>
{{{body}}}
</body>
</html>
