<div class="banner">Challenges</div>
<div id="challenges" class="container">
{{#each challenges}}
<div class="col-xs-12 col-sm-6 col-md-4 grid">
<img src="{{image.web_300.url}}">
<div class="title">{{title}}</div>
<div class="description">{{description}}</div>
</div>
{{/each}}
</div>
